{{define "main"}}

<section class="section-sm">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8 col-md-10">
        <div class="d-block d-md-flex align-items-center justify-content-between">
          <h1 style="line-height:1.2" class="d-block text-primary">{{.Title | markdownify}}</h1>
          <div class="mt-4 mt-md-0" style="max-width: 200px">
            {{ if and (.Params.logo) (fileExists (add `assets/` .Params.logo)) }}
            {{ $img:= resources.Get (.Params.logo) }}
            <img loading="lazy" decoding="async" class="img-fluid mb-3 mb-md-0" src="{{ $img.RelPermalink }}" alt="brand image">
            {{ end }}
          </div>
        </div>

        <div class="content border-top pt-5 mt-4">
          {{.Content}}
        </div>
      </div>
    </div>
  </div>
</section>

{{end}}